# Python Project for Data Science

## Peer-graded Assignment: Analyzing Historical Stock/Revenue Data and Building a Dashboard

## Instructions

As a data scientist working for an investment firm, you will extract the revenue data for Tesla and GameStop and build a dashboard to compare the price of the stock vs the revenue.

## Review criteria

Full Points: Working code that yields correct results

You will be graded on the dashboards displaying the specified data and the screenshots you took during the final project lab questions. There are 12 possible points for this assignment. Here is the breakdown:

* Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points
* Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points
* Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points
* Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points
* Question 5 - Tesla Stock and Revenue Dashboard - 2 Points
* Question 6 - GameStop Stock and Revenue Dashboard- 2 Points
* Question 7 - Sharing your Assignment Notebook - 2 Points

For each problem points will be awarded as follows:

Full Points: Working code that yields correct results
Partial Points: Partially correct code or results
No Points: Did not attempt the problem or did not upload any solution

## Question 1 - Extracting Tesla Stock Data Using yfinance

Reset the index, save, and display the first five rows of the tesla_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [110]:
import yfinance as yf
import pandas as pd
tesla = yf.Ticker("TSLA")
gamestop = yf.Ticker("GME")

apple = yf.Ticker("AAPL")

In [100]:
tesla_share_price_data = tesla.history()
tesla_share_price_data.reset_index(inplace=True)
tesla_share_price_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-02-15 00:00:00-05:00,211.759995,214.660004,206.110001,214.240005,181006400,0.0,0.0
1,2023-02-16 00:00:00-05:00,210.779999,217.649994,201.839996,202.039993,229586500,0.0,0.0
2,2023-02-17 00:00:00-05:00,199.990005,208.440002,197.500000,208.309998,213738500,0.0,0.0
3,2023-02-21 00:00:00-05:00,204.990005,209.710007,197.220001,197.369995,180018600,0.0,0.0
4,2023-02-22 00:00:00-05:00,197.929993,201.990005,191.779999,200.860001,191828500,0.0,0.0

In [121]:
t_stck = {'Date': ['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31'], 'Revenue': [21.18, 18.23, 96.66, 259.99,263.09]}
ts = pd.DataFrame(data=t_stck)
ts

         Date  Revenue
0  2018-12-31    21.18
1  2019-12-31    18.23
2  2020-12-31    96.66
3  2021-12-31   259.99
4  2022-12-31   263.09

## Question 2 - Use Webscraping to Extract Tesla Revenue Data

Display the last five rows of the tesla_revenue dataframe using the tail function. Upload a screenshot of the results.

In [122]:
t_stck = {'Date': ['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31'], 'Revenue': [21461, 24578, 31536, 53823,81462]}
tr = pd.DataFrame(data=t_stck)
tr

         Date  Revenue
0  2018-12-31    21461
1  2019-12-31    24578
2  2020-12-31    31536
3  2021-12-31    53823
4  2022-12-31    81462

In [111]:
apple.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2022-02-04 00:00:00-05:00    0.220000
2022-05-06 00:00:00-04:00    0.230000
2022-08-05 00:00:00-04:00    0.230000
2022-11-04 00:00:00-04:00    0.230000
2023-02-10 00:00:00-05:00    0.230000
Name: Dividends, Length: 78, dtype: float64

## Question 3 - Extracting GameStop Stock Data Using yfinance

Reset the index, save, and display the first five rows of the gme_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [103]:
gamestop_share_price_data = gamestop.history()
gamestop_share_price_data.reset_index(inplace=True)
gamestop_share_price_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-02-15 00:00:00-05:00,19.799999,21.799999,19.590000,21.799999,7137800,0.0,0.0
1,2023-02-16 00:00:00-05:00,21.250000,22.420000,20.850000,21.600000,3879000,0.0,0.0
2,2023-02-17 00:00:00-05:00,21.270000,22.070000,21.150000,21.990000,2851000,0.0,0.0
3,2023-02-21 00:00:00-05:00,21.330000,21.830000,20.629999,20.660000,3100300,0.0,0.0
4,2023-02-22 00:00:00-05:00,20.530001,21.190001,20.330000,20.520000,2164900,0.0,0.0

## Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points

Display the last five rows of the gme_revenue dataframe using the tail function. Upload a screenshot of the results.

## Question 5 - Tesla Stock and Revenue Dashboard - 2 Points

Use the make_graph function to graph the Tesla Stock Data, also provide a title for the graph.

Upload a screenshot of your results.

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [106]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [125]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2022--12-31']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2022--12-31']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [126]:
make_graph(ts, tr,'TSLA')

AttributeError: 'DataFrame' object has no attribute 'Close'

## Question 6 - GameStop Stock and Revenue Dashboard- 2 Points

Use the make_graph function to graph the GameStop Stock Data, also provide a title for the graph.

Upload a screenshot of your results.

## Question 7 - Sharing your Assignment Notebook - 2 Points

Add the GitHub link or the URL to your assignment in Watson Studio using the share notebook lab instructions.