## Peer-graded Assignment: Submit Your Work and Review Your Peers

You have been hired by an organization that strives to improve educational outcomes for children and young people in Chicago. Your job is to analyze the census, crime, and school data for a given neighborhood or district. You will identify causes that impact the enrollment, safety, health, environment ratings of schools.

You will be required to answer questions similar to what a real life data analyst or data scientist would be tasked with. You will be assessed both on the correctness of your SQL queries and results. 

A Jupyter notebook is provided to help you complete this assignment. Follow the instructions to complete all the problems, then share the Queries and Results with your peers for review.

In [1]:
import pandas as pd
from pandasql import sqldf
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
#census = pd.read_csv('ChicagoCensusData.csv')
#crime = pd.read_csv('ChicagoCrimeData.csv')
#schools = pd.read_csv('ChicagoPublicSchools.csv')

In [3]:
#Genera conexion a la base de datos
engine = create_engine('postgresql://postgres:l1u9i7s8@localhost:5432/ytmed')
#census.to_sql('census', engine)
#crime.to_sql('crime', engine)
#schools.to_sql('schools', engine)

In [4]:
%load_ext sql
%config SqlMagic.autocommit=False # for engines that do not support autommit
%env DATABASE_URL=postgresql://postgres:l1u9i7s8@localhost:5432/ytmed

env: DATABASE_URL=postgresql://postgres:l1u9i7s8@localhost:5432/ytmed

In [5]:
#%reload_ext sql
#%config SqlMagic.autocommit=False # for engines that do not support autommit

In [6]:
%sql postgresql://postgres:l1u9i7s8@localhost:5432/ytmed

In [7]:
# Problem 1: Find the total number of crimes
# recorded in the CRIME table.
%sql SELECT COUNT(*) FROM crime

 * postgresql://postgres:***@localhost:5432/ytmed
1 rows affected.

[(533,)]

In [8]:
## Problem 2: List community areas with per capita income less than 110000

In [9]:
%%sql
select "COMMUNITY_AREA_NAME" from census where "PER_CAPITA_INCOME" < 11000

 * postgresql://postgres:***@localhost:5432/ytmed
4 rows affected.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [10]:
# Problem 3: List all case numbers for crimes  involving minors?
#(children are not considered minors for the purposes of crime analysis)

In [27]:
%%sql
SELECT "CASE_NUMBER"
FROM crime
WHERE "DESCRIPTION" LIKE '%MINOR%'

 * postgresql://postgres:***@localhost:5432/ytmed
2 rows affected.

[('HL266884',), ('HK238408',)]

In [12]:
# Problem 4: List all kidnapping crimes involving a child?

In [13]:
%%sql
SELECT "CASE_NUMBER","PRIMARY_TYPE","DESCRIPTION"
FROM crime
WHERE "PRIMARY_TYPE" = 'KIDNAPPING'

 * postgresql://postgres:***@localhost:5432/ytmed
1 rows affected.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

In [14]:
# Problem 5: What kind of crimes were recorded at schools?

In [28]:
%%sql
SELECT "PRIMARY_TYPE"
FROM crime
WHERE "LOCATION_DESCRIPTION" LIKE '%SCHOOL%'

 * postgresql://postgres:***@localhost:5432/ytmed
12 rows affected.

[('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',),
 ('PUBLIC PEACE VIOLATION',)]

In [16]:
# Problem 6: List the average safety score for all types of schools.

In [17]:
%%sql
SELECT "Elementary, Middle, or High School", AVG("SAFETY_SCORE") AS avg
FROM schools
GROUP BY "Elementary, Middle, or High School"

 * postgresql://postgres:***@localhost:5432/ytmed
3 rows affected.

[('HS', 49.62352941176471), ('MS', 48.0), ('ES', 49.52038369304557)]

In [18]:
# Problem 7: List 5 community areas with highest % of households below poverty line.

In [19]:
%%sql
SELECT "COMMUNITY_AREA_NAME","PERCENT_HOUSEHOLDS_BELOW_POVERTY"
FROM census
ORDER BY "PERCENT_HOUSEHOLDS_BELOW_POVERTY" DESC
LIMIT 5

 * postgresql://postgres:***@localhost:5432/ytmed
5 rows affected.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [20]:
# Problem 8: Which community area (number) is most crime prone?

In [30]:
%%sql
SELECT "COMMUNITY_AREA_NUMBER", COUNT("CASE_NUMBER") AS q
FROM crime
WHERE "COMMUNITY_AREA_NUMBER" IS NOT Null
GROUP BY "COMMUNITY_AREA_NUMBER"
ORDER BY q DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/ytmed
1 rows affected.

[(25.0, 43)]

In [22]:
# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [38]:
%%sql
SELECT "COMMUNITY_AREA_NAME"
FROM (SELECT "COMMUNITY_AREA_NAME","HARDSHIP_INDEX" FROM census WHERE "HARDSHIP_INDEX" IS NOT Null) a
ORDER BY "HARDSHIP_INDEX" DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/ytmed
1 rows affected.

[('Riverdale',)]

In [24]:
# Problem 10: Use a sub-query to determine the Community Area Name
# with most number of crimes?

In [37]:
%%sql
SELECT "COMMUNITY_AREA_NAME" FROM census
WHERE "COMMUNITY_AREA_NUMBER" = (SELECT "COMMUNITY_AREA_NUMBER" FROM crime
                                 WHERE "COMMUNITY_AREA_NUMBER" IS NOT Null
                                 GROUP BY "COMMUNITY_AREA_NUMBER"
                                 ORDER BY COUNT("CASE_NUMBER") DESC
                                LIMIT 1)

 * postgresql://postgres:***@localhost:5432/ytmed
1 rows affected.

[('Austin',)]